/* caso 1 */
.grid__1,
.grid__2,
.grid__3,
.grid__4 {
  display: flex;
  flex-wrap: wrap;
}

/* caso 2 */
.grid__2>div:nth-child(1) {
  order: 2;
}

.grid__2>div:nth-child(2) {
  order: 1;
}

.grid__2>div:nth-child(3) {
  order: 3;
}

/* caso 3 */
.grid__3>div:nth-child(1) {
  order: 1;
}

.grid__3>div:nth-child(2) {
  order: 3;
}

.grid__3>div:nth-child(3) {
  order: 2;
}

/* caso 4 */
.grid__4>div:nth-child(1) {
  order: 3;
}

.grid__4>div:nth-child(2) {
  order: 2;
}

.grid__4>div:nth-child(3) {
  order: 1;
}

.grid__itemBig {
  margin: 10px;
  width: calc(50% - 20px);
  height: 500px;
  background-color: #8a8a8d;
}

.grid__itemSmall {
  margin: 10px;
  width: 23%;
  height: 500px;
  background-color: #d0d3d6;
}
